.application-wrapper{
    max-width: 1900px;
    height: 940px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.application{
    width: 100%;
    height: 374px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #5cff11e7;



    &-text{
    width: 827px;
    margin-left: 550px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 65.1356px;
    line-height: 77px;
    color: #FFFFFF;
    z-index: 8;
    }
    .application-bg-burger{
        position: absolute;
        left: 0px;
        top: -100px;
    }
    .application-bg-phone{
        position: absolute;
        left: 500px;
        top: -100px;
    }
    .application-bg-phone2{
        position: absolute;
        left: 280px;
        top: -200px;
    }
    .application-bg-burger2{
        position: absolute;
        right: 0px;
        bottom: -200px;
    }
}

@media (max-width: 1200px) {
    .application-bg-phone{
        display: none;
    }
    .application-bg-phone2{
        display: none;
    }
    .application-bg-burger{
        top: -100px;
        width: 30%;
    }
    .application-bg-burger2{
        max-width: 240px;
        width: 30%;
        margin-bottom: 50px;
    }
    .application{
    width: 100%;
    height: 374px;
    background: #5cff11e7;
    margin: 150px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &-text{
    width: 80%;
    margin-left: 50%;
    margin: 0px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
    z-index: 4;
    }
}
}
